@model List<Project.Models.Category>
@using Project.Resources

@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_LayoutBasic.cshtml";
}


<div class="container mt-5">
	<div class="table-responsive">
		<table class="table table-hover">
			<thead>
				<tr>
					<th scope="col">@Resource.name</th>
					<th scope="col">@Resource.Description</th>

					<th scope="col"></th>
					<th scope="col"></th>

				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					<tr class="table-active">

						<td>@item.Name</td>
						<td>@item.Description</td>

						<td>
							<a href="/Category/edit/@item.id" class="btn btn-primary btn-sm">
								@Resource.edit
							</a>
						</td>
						<td>
							<a href="/Category/delete/@item.id" class="btn btn-danger btn-sm" onclick="return del()">
								@Resource.delete
							</a>

						</td>
					</tr>
				}



			</tbody>
		</table>
	</div>
</div>

	@**@
	@section js{
		<script>
			function del() {
				return confirm("هل متاكد انك تريد حذف الفئه");
			}
		</script>
	}

